h3 {
    margin-left:10px;
    margin-bottom: 30px;
}

.customer-detail {
    margin: 10px;
    padding: 30px;
    min-height: 150px;
    background-color: #fff;
    .manage {
        span {
            font-weight: bolder;
            color: #6b5858;
        }
        button {
            float: right;
            cursor: pointer;
        }
    }
    table {
        width: 100%;
        font-size: 13px;
        color: #6b5858;
        margin: 0;
        padding: 0;
        td {
            padding: 5px 0px;
        }
        td:nth-child(2) {
            padding-right: 30px;
        }
        td:nth-child(3) {
            padding-left: 10px;
        }
        td:nth-child(even) {
            float: right;
        }
        label {
            color: #869eca;
        }
        span {
            font-size: 10px;
        }
    }
    .las {
        cursor: pointer;
    }
}

.return-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}