<h3>RSP43</h3>
<div class="customer-detail">
    <div class="manage">
        <span>Manage</span>
        <button class="button-default">Enquiry History</button>
    </div>
    <hr>
    <table>
        <tr>
            <td>
                <ul>
                    <li>Creation date</li>
                    <li>Change account number</li>
                    <li>Charge date</li>
                    <li>Status</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Invested Amount</li>
                    <li>Accumulated Invested Amount</li>
                    <li>Current Market Value</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
