<h3>RSP43</h3>
<div class="customer-detail">
    <div class="manage">
        <span>Manage</span>
        <button class="button-default">Enquiry History</button>
    </div>
    <hr>
    <table>
        <tr>
            <td>Creation date: <label>12/12/2019</label></td>
            <td></td>
            <td>Investment Amount: <span>TWD </span> <label>{{ customerDetail.invest_amount }}</label></td>
            <td><button class="button-default">Adjust Amount</button></td>
        </tr>
        <tr>
            <td>Change account number: <label>{{ customerDetail.ac_no }}</label></td>
            <td><i (click)="openModal()" class="las la-pencil-alt"></i></td>
            <td>Accumulated Investment Amount: <span>TWD </span><label>5,000</label></td>
            <td></td>
        </tr>
        <tr>
            <td>Charge date: <label>1 of the month</label><span> (Next payment date)</span></td>
            <td><i class="las la-pencil-alt"></i></td>
            <td>Accumulated Investment Amount: <span>TWD </span><label>5,000</label></td>
            <td><button class="button-default">Redemption</button></td>
        </tr>
        <tr>
            <td>Status: <label>{{ customerDetail.status }}</label></td>
            <td><button class="button-default">Suspension of investment</button></td>
        </tr>
    </table>
</div>
<div class="return-button">
    <button class="button-secondary">Return</button>
</div>